<!-- general form elements disabled -->
<div class="col-md-8 col-md-offset-2">
  <br/>
  <br/>
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title"><%= title %></h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">

      <% if banner.errors.any? %>

        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-ban"></i> Validations Errors!</h4>

          <ul>
            <% banner.errors.full_messages.each do  |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

      <% end %>

      <%= form_with(model: banner, local: true) do |form|  %>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :title %>
          <%= form.text_field :title, :class=> "form-control", :placeholder => "Enter ..." %>
        </div>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :status %>
          <%= form.select "status", options_for_select(@status.map { |obj| [obj['name'], obj['value']] }, form.object.status ), {} , {:class => 'form-control'} %>
        </div>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :link %>
          <%= form.text_field :link, :class=> "form-control", :placeholder => "Enter ..." %>
        </div>


        <div class="form-group">
          <%= form.label :banner_image %>
          <div class="row">
            <% if form.object.image.attached? && form.object.image.content_type.in?("%{image/jpeg,image/png,image/jpg}")  %>
              <%= image_tag form.object.image.variant(resize: '200x100!').processed  %>

              <%= link_to "Delete", delete_image_attachment_admin_category_url(form.object.image.id),
                          method: :delete,
                          data: { confirm: 'Are you sure?' },  :class => "label label-danger" %>
            <% end %>
          </div>

          <%= form.file_field :image, :class => "form-control" %>
        </div>

        <%= form.submit :class => "btn btn-success pull-right" %>



      <% end %>




      <%= link_to "Back" , admin_banners_path , :class => "btn btn-warning "%>

    </div>
  </div>
</div>