<%= form_with(model: email_marketing, local: true) do |form| %>
  <% if email_marketing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(email_marketing.errors.count, "error") %> prohibited this email_marketing from being saved:</h2>

      <ul>
      <% email_marketing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :sender_name %>
    <%= form.text_field :sender_name %>
  </div>

  <div class="field">
    <%= form.label :sender_email %>
    <%= form.text_field :sender_email %>
  </div>

  <div class="field">
    <%= form.label :reciver_email %>
    <%= form.text_field :reciver_email %>
  </div>

  <div class="field">
    <%= form.label :email_subject %>
    <%= form.text_field :email_subject %>
  </div>

  <div class="field">
    <%= form.label :email_body %>
    <%= form.text_area :email_body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
