<div class="box">
  <div class="box-header">
    <h3 class="box-title">Customers </h3>


    <div class="row">
      <% if notice %>
        <div class="col-md-6 col-md-offset-3">
          <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <h4><i class="icon fa fa-check"></i> Message!</h4>
            <%= notice %>
          </div>
        </div>
      <% end %>
    </div>


  </div>
  <!-- /.box-header -->
  <div class="box-body">

    <table id="example1" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Postcode</th>
        <th>Address</th>
        <th>Status</th>
        <th>Image</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <% @customers.each do |customer| %>

        <tr>
          <td><%= customer.name %></td>
          <td><%= customer.email %></td>
          <td><%= customer.phone %></td>
          <td><%= customer.postcode %></td>
          <td><%= customer.address %></td>
          <td>
            <% if customer.status == 1 %>
              <span class="label label-success">Active</span>
            <% else %>
              <span class="label label-warning">DeActive</span>
            <% end %>

          </td>
          <td>
            <% if customer.image.attached? %>
              <%= image_tag customer.image.variant(resize: '100x50!').processed %>
            <% end %>

          </td>
          <td>
            <%= link_to edit_customer_path(customer) , :class=> "btn btn-success" do %>
              <%= fa_icon "edit" %>
            <% end %>

            <%= link_to customer, method: :delete , data: { confirm: "Are you sure ? "} ,:class =>"btn btn-danger" do %>
              <%= fa_icon "trash" %>
            <% end %>


          </td>
        </tr>

      <% end %>


      </tbody>
    </table>
  </div>
</div>