<!-- general form elements disabled -->
<div class="col-md-8 col-md-offset-2">
  <br/>
  <br/>
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title"><%= title %></h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">

      <% if offer.errors.any? %>

        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-ban"></i> Validations Errors!</h4>

          <ul>
            <% offer.errors.full_messages.each do  |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

      <% end %>

      <%= form_with(model: offer, local: true) do |form|  %>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :offer_name %>
          <%= form.text_field :offer_name, :class=> "form-control", :placeholder => "Enter ..." %>
        </div>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :offer_value %>
          <%= form.number_field :offer_value, :class=> "form-control", :placeholder => "Enter ..." %>
        </div>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :minimum_value %>
          <%= form.number_field :minimum_value, :class=> "form-control", :placeholder => "Enter ..." %>
        </div>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :start_date %>
          <%= form.date_field :start_date, :class=> "form-control", :placeholder => "Enter ..." %>
        </div>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :end_date %>
          <%= form.date_field :end_date, :class=> "form-control", :placeholder => "Enter ..." %>
        </div>


        <!-- text input -->
        <div class="form-group">
          <%= form.label :status %>
          <%= form.select "status", options_for_select(@status.map { |obj| [obj['name'], obj['value']] }, form.object.status ), {} , {:class => 'form-control'} %>
        </div>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :offer_customer %>
          <%= form.select "customer_id", options_for_select(@customers.map { |obj| [obj['name'], obj['id']] }, form.object.customer_id ), {} , {:class => 'form-control'} %>
        </div>


        <%= form.submit :class => "btn btn-success pull-right" %>

      <% end %>




      <%= link_to "Back" , admin_offers_path , :class => "btn btn-warning "%>

    </div>
  </div>
</div>