<!-- general form elements disabled -->
<div class="col-md-8 col-md-offset-2">
  <br/>
  <br/>
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title"><%= title %></h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">

      <% if product.errors.any? %>

        <div class="alert alert-danger alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <h4><i class="icon fa fa-ban"></i> Validations Errors!</h4>

          <ul>
            <% product.errors.full_messages.each do  |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>

      <% end %>

      <%= form_with(model: product, local: true) do |form|  %>

        <!-- text input -->
        <div class="form-group">
          <%= form.label :item_name %>
          <%= form.text_field :item_name , :class=>"form-control", :placeholder=>"Enter..." %>
        </div>

        <div class="form-group">
          <%= form.label :item_price %>
          <%= form.number_field :item_price , :class=>"form-control", :placeholder=>"Enter...", :min => 1 %>
        </div>


        <div class="form-group">
          <%= form.label :item_short_description %>
          <%= form.text_area :item_short_description, :class=> 'form-control', :placeholder => 'Enter...' %>
        </div>

      <div class="form-group">
        <%= form.label :item_long_description %>
        <%= form.text_area :item_long_description, rows: 5, cols: 25, :class => "tinymce" %>
      </div>

        <div class="form-group">
          <%= form.label :item_category %>
          <%= form.select :category_id , options_for_select(@categories.map {|obj| [obj['name'], obj['id']]}, form.object.category_id), {}, {:class => 'form-control'} %>
        </div>

        <div class="form-group">
          <%= form.label :item_status %>
          <%= form.select :item_status, options_for_select(@status.map { |obj| [obj['name'], obj['value']] }, form.object.item_status) ,{}, {:class => "form-control"}  %>
        </div>

        <div class="form-group">
          <%= form.label :product_images %>
          <div class="row">
            <% (0...form.object.item_images.count).each do |img| %>
              <div class="col-md-2">
                <%= image_tag(form.object.small(img)) %>
                <%= link_to "Delete", delete_image_attachment_product_url(form.object.item_images[img]),
                            method: :delete,
                            data: { confirm: 'Are you sure?' },  :class => "label label-danger" %>
              </div>
            <%  end %>
          </div>
        </div>

        <div class="form-group">
          <%= form.label :item_images %>
          <%= form.file_field :item_images, multiple: true ,:class => "form-control"  %>
        </div>


        <%= form.submit :value => "Submit Product", :class => "btn btn-success pull-right" %>

    <% end %>

      <%= link_to "Back" , products_path , :class => "btn btn-warning "%>
      <%= tinymce %>
    </div>
  </div>
</div>